{{has_search_bar=False}} {{extend 'layout-cus.html'}}
<!-- list of WH sites -->
<ul class="site-container">
    <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>
    <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='default', f='wh_pic', args=191)}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>
    <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>
    <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>
    <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>

        <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>

        <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>

        <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>

        <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>

        <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>

        <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>

        <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>

        <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>

        <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>

        <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>

        <li class="site">
        <a href='#'>
            <figure>
                <img class='lazy' data-original="{{=URL(a='utility', c='static', f='images/test.jpg')}}"></figure>
            <div class='text-wrapper'>
                <h2 class="site-name-img">Galapogas</h2></div>
        </a>
    </li>
</ul>
