<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{=URL('static','css/site.css')}}" />
</head>

<body>
    <nav>
        <div class="nav-left">
            <!-- <img src='http://whca.noip.me/ca/static/images/iucn-white-logo.png'> -->
            <a href="#">
                <div class="title">
                    <span class="main-title">Natural World Heritage sites</span>
                    <span class="sub-title">species climate change vulnerability analysis</span>
                </div>
            </a>
        </div>
        <div class="search-bar">
            <input type="text" />
            <input type="submit" value="search">
        </div>
    </nav>
    <main>
        <section class="site-name">
            <div class="main-title"></div>
            <div class="title-badge">
                <svg viewBox="0 0 31.763 31.763" width="65" height="65" preserveAspectRatio="none" class='{{=amp_label}}'>
                    <g>
                        <path d="M31.61,11.021c-0.567-1.893-2.562-2.969-4.457-2.399c-1.895,0.57-2.967,2.566-2.396,4.459
                        c0.021,0.078,0.049,0.154,0.078,0.229l-2.129,1.858c-0.527-0.046-1.1-0.055-1.688-0.035L20.3,9.149
                        c1.787-0.634,2.777-2.565,2.229-4.399c-0.57-1.894-2.564-2.97-4.459-2.4c-1.895,0.57-2.965,2.565-2.396,4.459
                        c0.291,0.973,0.961,1.728,1.799,2.155l-0.299,6.674c-0.298,0.068-0.59,0.14-0.873,0.218L11.65,7.472
                        c0.693-0.886,0.96-2.081,0.613-3.239c-0.57-1.893-2.564-2.968-4.457-2.4C5.912,2.405,4.839,4.402,5.408,6.294
                        c0.498,1.658,2.094,2.689,3.756,2.533l3.322,8.177c-0.517,0.18-1.008,0.375-1.454,0.594l-4.091-2.323
                        c0.258-0.702,0.298-1.49,0.067-2.26c-0.569-1.892-2.564-2.968-4.458-2.397c-1.893,0.569-2.966,2.564-2.398,4.457
                        c0.569,1.893,2.564,2.969,4.458,2.397c0.314-0.094,0.606-0.229,0.871-0.396l3.286,3.229c-0.082,1.048,0.394,2.396,1.689,4.185
                        c2.305,3.186,5.818,7.044,12.252,5.04c5.474-1.705,0.621-7.639,2.719-11.315c0.113-0.197,0.197-0.386,0.26-0.561l1.572-2.144
                        c0.621,0.165,1.294,0.168,1.954-0.032C31.106,14.908,32.178,12.913,31.61,11.021z" />
                    </g>
                </svg>
                <span class="vbar"></span>
                <svg viewBox="0 0 457.824 457.824" width="65" height="65" preserveAspectRatio="none" class='{{=bird_label}}'>
                    <g>
                        <path d="M259.604,246.305c5.277-0.792,9.281-4.873,10.116-9.97C283.165,154.275,340.471,82.216,424.8,53.965l0.093-0.031
                        c3.713-1.242,6.69-4.174,7.755-7.942c1.957-6.924-2.245-13.534-8.689-15.096c-26.845-6.51-55.786-5.783-83.913,3.64
                        c-52.79,17.685-89.435,61.543-100.334,112.297c-0.72,3.351-2.599,6.419-5.517,8.217c-4.612,2.841-10.345,2.25-14.257-1.153
                        c-39.294-34.182-95.146-47.249-148.1-29.509c-27.99,9.377-51.437,26.113-68.915,47.333c-3.162,3.839-3.9,9.256-1.52,13.623
                        c2.817,5.168,8.882,7.491,14.345,5.656c0.048-0.016,0.096-0.032,0.145-0.048c84.199-28.207,173.203-5.327,233.364,51.877
                        C252.027,245.463,255.824,246.872,259.604,246.305z" />
                        <path d="M453.21,307.392c-18.598-10.981-40.412-17.026-63.596-16.381c-43.652,1.214-81.147,25.829-100.804,61.495
                        c-1.61,2.921-4.646,4.772-7.981,4.864c-3.334,0.091-6.461-1.593-8.231-4.42c-21.61-34.514-60.412-57.004-104.061-55.79
                        c-23.184,0.645-44.628,7.893-62.587,19.89c-3.473,2.32-4.991,6.657-3.724,10.637c1.267,3.979,5.015,6.648,9.19,6.53
                        c0.04-0.001,0.079-0.002,0.119-0.003c69.511-1.933,130.96,35.564,162.896,92.196c1.713,3.038,4.966,4.879,8.453,4.784
                        c3.486-0.095,6.638-2.11,8.179-5.239c28.737-58.324,88.01-99.181,157.524-101.115c0.04-0.001,0.079-0.002,0.119-0.003
                        c4.178-0.113,7.775-2.979,8.82-7.026C458.571,313.764,456.809,309.517,453.21,307.392z" />
                    </g>
                </svg>
                <span class="vbar"></span>
                <svg viewBox="0 0 367.854 367.854" width="65" height="65" preserveAspectRatio="none" class='{{=coral_label}}'>
                    <g>
                        <path d="M340,163.471c-4.924,12.309-11.837,20.095-20.547,23.142c-0.317,0.111-0.63,0.207-0.941,0.303
                            c0.271-2.588,0.415-5.214,0.415-7.873v-30h-30v30c0,19.555-12.541,36.227-30,42.42v-32.42h-30v35h-30v-38.334
                            c0-13.785,11.215-25,25-25c41.356,0,75-33.645,75-75h-30c0,15.741-8.13,29.611-20.404,37.655
                            c-52.565-19.68-54.112-72.267-54.152-74.552L179.372,49l-15,0.116c0.006,0.819,0.267,20.325,10.038,42.645
                            c5.711,13.044,15.438,28.737,31.845,41.878c-21.681,7.379-37.328,27.925-37.328,52.07v13.375
                            c-12.544-9.438-28.129-15.041-45-15.041c-4.646,0-9.129-0.708-13.349-2.021c3.188-2.198,6.472-4.777,9.724-7.812
                            c26.839-25.037,30.113-60.203,28.134-85.294l-29.907,2.359c2.076,26.308-3.893,46.524-17.738,60.088
                            c-5.496,5.384-11.279,8.711-15.534,10.658c-4.015-6.73-6.33-14.588-6.33-22.979v-60h-30v44.543
                            c-0.176-0.058-0.35-0.107-0.527-0.17c-8.709-3.047-15.622-10.833-20.546-23.142L0,111.416
                            c12.254,30.634,33.605,41.144,50.553,43.15c7.171,33.93,37.341,59.476,73.374,59.476c24.813,0,45,20.186,45,45v4.336
                            c-25.114-2.155-49.543-9.678-71.401-22.114c-25.42-14.463-47.01-35.254-62.436-60.126L9.595,196.95
                            c12.621,20.35,28.778,38.355,47.518,53.141C49.571,263.228,35.521,264,33.754,264.043l0.173-0.001v30
                            c1.458,0,31.704-0.351,48.141-27.07c0.209,0.12,0.413,0.248,0.623,0.367c23.783,13.531,50.149,22.096,77.333,25.281l-6.097,26.422
                            h60l-15-65h34.968c7.986,16.394,20.866,28.73,37.769,35.975c14.799,6.343,27.527,6.525,28.93,6.525v-30l0.118,0.001
                            c-1.029-0.017-20.386-0.569-33.655-16.167c17.167-5.58,31.641-17.184,40.897-32.318c0.977,0.059,1.983,0.09,3.018,0.09
                            c17.596,0,43.044-8.941,56.882-43.534L340,163.471z" />
                    </g>
                </svg>
            </div>
        </section>
        <!-- main message -->
        <div>
            <h1 class="section-heading">Species Climate Change vulnerability</h1>
        </div>
        <section class="main">
            <div class="amp-main">
                <h2 class="taxon">Amphibian</h2></div>
            <div class="bird-main">
                <h2 class="taxon">Bird</h2></div>
            <div class="coral-main">
                <h2 class="taxon">Coral</h2>
            </div>
        </section>
        <hr />
        <!-- radar-chart -->
        <div>
            <h1 class="section-heading">Sensitivity, Low Adaptability, and Exposure</h1>
        </div>
        <section class="infograph">
            <div id="amp" class="viz">
                <h2 class="taxon">Amphibian</h2>
            </div>
            <div id="bird" class="viz">
                <h2 class="taxon">Bird</h2>
            </div>
            <div id="coral" class="viz">
                <h2 class="taxon">Coral</h2>
            </div>
        </section>
        <hr />
        <!-- detail -->
        <div>
            <h1 class="section-heading">Traits and exposure detail</h1>
        </div>
        <section class="detail">
            <div class="amp-detail">
                <h2 class="taxon">Amphibian</h2>
            </div>
            <div class="bird-detail">
                <h2 class="taxon">Bird</h2>
            </div>
            <div class="coral-detail">
                <h2 class="taxon">Coral</h2>
            </div>
        </section>
    </main>
    <footer>
        <section class="bottom-section">
            <div class="about">about</div>
            <div class="addition">additional info</div>
            <div class="copyright">copy right</div>
        </section>
        <section class="bottom-bar">This is where license and additional information is</section>
    </footer>
    <script src="{{=URL('static','bower/bower_components/jquery/dist/jquery.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{=URL('static','bower/bower_components/bootstrap/dist/js/bootstrap.js')}}"></script>
    <script src="{{=URL('static','bower/bower_components/d3/d3.js')}}"></script>
    <script src="{{=URL('static','bower/bower_components/radar-chart-d3/src/radar-chart.js')}}"></script>
    <script type="text/javascript">
    var amp_url = "{{=URL('hlu', args = request.args)}}" + '?taxon=amp';
    var bird_url = "{{=URL('hlu', args = request.args)}}" + '?taxon=bird';
    var coral_url = "{{=URL('hlu', args = request.args)}}" + '?taxon=coral';

    var remove_value_from_array = function(components, component) {
        var i = components.indexOf(component);
        if (i != -1) {
            components.splice(i, 1);
        }
    }

    // bar colours. can this be done in css? this feels like a hack
    // not using green. The idea is to highlight only those that are highly vulnerable. Thus two grey colours
    // similar but still distinguishable
    var predefined_colors = function(n) {
        var p_colors = ["#B6323A", "#eee", "#bbb"];
        return p_colors[n % p_colors.length];
    };

    var chart_style = {
        containerClass: 'radar-chart', // target with css, the default stylesheet targets .radar-chart
        w: 320,
        h: 320,
        factor: 0.85,
        factorLegend: 1,
        levels: 3,
        maxValue: 0,
        minValue: 0,
        radians: 2 * Math.PI,
        // color: d3.scale.category10(), // pass a noop (function() {}) to decide color via css
        color: function() {},
        axisLine: true,
        axisText: true,
        circles: true,
        radius: 5,
        open: false, // whether or not the last axis value should connect back to the first axis value
        // if true, consider modifying the chart opacity (see "Style with CSS" section above)
        axisJoin: function(d, i) {
            return d.className || i;
        },
        tooltipFormatValue: function(d) {
            return d;
        },
        tooltipFormatClass: function(d) {
            return d;
        },
        transitionDuration: 300
    };

    // for radar-chart
    var add_radar_taxon = function(taxon) {
        var data;
        d3.json("{{=URL('sle', args = request.args)}}" + '?taxon=' + taxon, function(error, json_data) {
            data = json_data;

            if (error) {
                $('#' + taxon).append($('<p>Error occurred: ' + error + '</p>'));
                console.warn(error);
            } else if ($.isEmptyObject(data)) {
                // $('#' + taxon).append('<p>No data avaialble</p>');
                add_no_data('#' + taxon);
            } else {
                var chart = RadarChart.chart();
                // predefined style outside of function
                chart.config(chart_style);
                var svg = d3.select('#' + taxon).append('svg')
                    .attr('width', 320)
                    .attr('height', 320);

                // draw one
                svg.append('g').classed('focus', 1).datum(data).call(chart);
            }
        });
    };

    // async load json, wrapper to draw bar
    var add_bar = function(json_url, component, target = '.detail') {
        d3.json(json_url, function(error, json_data) {
            if (error) {
                console.warn(error);
            } else {
                // debug
                // console.log(json_data);
                draw_bar_mk2(json_data, component, target);
            }
        })

    }
    //add all bars for a taxon, in main and in detail
    var add_all_bars_taxon = function(json_url, taxon) {
        d3.json(json_url, function(error, json_data) {
            if (error) {
                console.warn(error);
            } else {
                // debug
                // console.log(json_data);
                var components = [];

                for (var each in json_data) {
                    components.push(each);
                }

                components.sort();

                // if there is no value
                if (components.length == 0) {
                    add_no_data('.' + taxon + '-main');
                    add_no_data('.' + taxon + '-detail');
                } else {
                    // add main bars ======
                    draw_bar_mk2(json_data, 'FINAL_SCORE', '.' + taxon + '-main')
                    draw_bar_mk2(json_data, 'SENSITIVITY', '.' + taxon + '-main')
                    draw_bar_mk2(json_data, 'LOW_ADAPTABILITY', '.' + taxon + '-main')
                    draw_bar_mk2(json_data, 'EXPOSURE', '.' + taxon + '-main')

                    // remove the final score and sle headers
                    $.each(['FINAL_SCORE', 'SENSITIVITY', 'LOW_ADAPTABILITY', 'EXPOSURE'], function(index, value) {
                        remove_value_from_array(components, value)
                    });

                    // add detail bars =====
                    for (var i = 0; i < components.length; i++) {
                        var component = components[i];
                        draw_bar_mk2(json_data, component, '.' + taxon + '-detail');

                    }


                }
            }
        })
    }
    // load all bars, for all taxa
    var add_all_bars = function() {
        add_all_bars_taxon(amp_url, 'amp');
        add_all_bars_taxon(bird_url, 'bird');
        add_all_bars_taxon(coral_url, 'coral');
    }

    var add_no_data = function(target) {
        $(target).append('<p class="no-data">No data available</p>');
    }

    // draw bar
    var draw_bar_mk2 = function(data, component, target) {
        // data of format {'component1': [h_obj, l_obj, e_obj]}
        // h_obj = {'value':<of the number of species>, 'label': <H|L|U>, 'baseline': <x start position>}

        // component: the key of the returned object
        // target: the DOM element to which the div of bar will be added
        var component_data = data[component]
        if (component_data) {

            var data = component_data;

            // get scale
            var hlu_sum = 0;
            for (var i = 0; i < data.length; i++) {
                hlu_sum += data[i].value;
            }

            var bar_scale = d3.scale.linear()
                .range([0, 320])
                .domain([0, hlu_sum])

            // div for heading and svg
            var div = d3.select(target).append('div')

            // add heading, replacing underscore
            // no beginning _, those within words allowed
            var component_no_line;
            component_no_line = component.replace(/^_+/g, '').replace(/_+/g, ' ')

            div.append('h2')
                .attr('class', 'bar-header')
                .text(component_no_line);


            // the chart itself
            var svg = div
                .append('svg')
                .attr('width', '320')
                .attr('height', 15);

            // add rects
            svg.selectAll('rect').data(data)
                .enter()
                .append('rect')
                .attr('width', function(d) {
                    return bar_scale(d.value)
                })
                .attr('height', 15)
                .attr('x', function(d) {
                    return bar_scale(d.baseline)
                })
                .attr('fill', function(d, i) {
                    return predefined_colors(i)
                })

            // add annotation
            svg.selectAll('text').data(data)
                .enter()
                .append('text')
                .attr('x', function(d) {
                    return bar_scale(d.baseline) + 2 //center label
                })
                .attr('y', 12)
                .text(function(d) {
                    if (d.value==0){
                        return ""
                    } else {
                        return d.label + ': ' + d.value
                    }
                })
                .style('font-size', 10)
                .style('fill', function(d){
                    if (d.label == 'H'){
                        return 'white'
                    } else {
                        return 'black'
                    }

                })

        }
    };


    $(document).ready(function() {
        // // populate basic attribute 
        $.get("{{=URL(a='utility', c='default', f='wh_attr', args=request.args)}}", function(data) {
                // console.log(data);
                data = JSON.parse(data);
                $('.site-name .main-title').append('<h1 class="site-name">' + data.en_name + '</h1>');

            })
            // 

        // radar plot
        add_radar_taxon('amp');
        add_radar_taxon('bird');
        add_radar_taxon('coral');

        // // draw_bar_mk2(bird_data, 'FINAL_SCORE')
        // add_bar('bird', 'FINAL_SCORE');
        // add_bar('amp)

        add_all_bars();

        // draw_bar('amp', 'FINAL_SCORE')
        // draw_bar('bird', 'FINAL_SCORE')
        // draw_bar('coral', 'FINAL_SCORE')

    });
    </script>
</body>

</html>
