<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{=URL('static','css/site.css')}}" />
</head>

<body>
    <nav>
        <div class="nav-left">
            <!-- <img src='http://whca.noip.me/ca/static/images/iucn-white-logo.png'> -->
            <a href="#">
                <div class="title">
                    <span class="main-title">Natural World Heritage sites</span>
                    <span class="sub-title">species climate change vulnerability analysis</span>
                </div>
            </a>
        </div>
        <!-- landing page doesn't have one -->
        {{if has_search_bar:}}
        <div class="search-bar">
            <input type="text" />
            <input type="submit" value="search">
        </div>
        {{pass}}
    </nav>
    <main>
        {{include}}
    </main>
    <footer>
        <section class="bottom-section">
            <div class="about">about</div>
            <div class="addition">additional info</div>
            <div class="copyright">copy right</div>
        </section>
        <section class="bottom-bar">This is where license and additional information is</section>
    </footer>

<!-- scripts -->
<script src="{{=URL('static','bower/bower_components/jquery/dist/jquery.js')}}"></script>
<script src="{{=URL('static','bower/bower_components/jquery_lazyload/jquery.lazyload.js')}}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("img.lazy").lazyload();
})
</script>
