@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
$theme-color: OliveDrab;
$nav-font-color: #fff;
$theme-font-color: #fff;
$red: #B6323A;
$grey: #eee;
html {
    height: 100%;
    font-family: Roboto;
}

body {
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

hr {
    margin: 40px auto 20px;
    width: 95%;
    color: $grey;
}

nav {
    padding: 10px 10px;
    min-width: 320px;
    display: -ms-flexbox;
    display: flex;
    background: $theme-color;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    a {
        text-decoration: none; //suppressing default style for anchor
    }
    .nav-left {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        .title {
            margin-left: 5px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: end;
            align-items: flex-end;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .main-title {
                font-size: 20px;
                color: $nav-font-color;
            }
            .sub-title {
                margin-left: 10px;
                font-size: 15px;
                color: darken($nav-font-color, 20);
                text-decoration: underline;
                text-transform: capitalize;
            }
        }
    }
}

main {
    // background: #eee;
    // height: calc(100vh - 270px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    // landing page
    ul.site-container {

        list-style-type: none;
        margin: 0 0;
        padding: 0 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        li.site {
            width: 25%;
            position: relative; //so that its child can be placed in relation this this
            overflow: hidden; //ensure hover event doesn't go outside li

            a {
                color: white;

                &:hover, &:active, &:visited {
                    text-decoration: none;
                    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
                }
                
                display: block;
                text-decoration: none;
                //figure
                figure {
                    margin: 0 0;
                    img {
                        width: 100%;
                        height: auto;
                        -webkit-filter: grayscale(1);
                        filter: grayscale(1);
                        transition: .3s ease-in-out;
                    }
                }
                //text overlay
                div.text-wrapper {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    h2.site-name-img {
                        padding: 10px; //some space around text
                        position: relative;
                        font-size: 20px;
                        margin: 0 0;
                        text-align: center;
                        top: 20%;
                    }
                }
            }

            //hover event
            &:hover img {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
                transform: scale(1.1);
            }
        }
    }
    // site
    .site-name {
        // height: 150px;
        // background: lighten(blue, 20);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .title-badge {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            span.vbar {
                // font-size: 50px;
                display: inline-block;
                height: auto;
                border-left: solid $grey 1px;
                margin: 0 4px;
            }
            svg.low {
                fill: $theme-color;
            }
            svg.high {
                fill: $red;
            }
            svg.no-data {
                fill: $grey;
            }
        }
    }
    section {
        margin-bottom: 20px;
        div {
            // margin: 0 20px;
            min-width: 300px;
        }
    }
    section.main {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    section.infograph {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .viz {
            // border: 1px solid grey;
            min-width: 320px;
            min-height: 320px;
            padding: 5px;
            margin: 5px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-align: center;
            align-items: center;
            // justify-content: center;
        }
    }
    section.detail {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .amp-detail,
        .bird-detail,
        .coral-detail {
            width: 320px;
        }
    }
}

h1.site-name {
    font-family: Roboto Slab;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 1px;
}

h1.section-heading {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-bottom: 32px;
}

h2.taxon {
    font-family: Roboto Slab;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 1px;
    // color: $theme-color;
}

h2.bar-header {
    font-size: 12px;
    text-align: left;
    // font-style: italic;
    font-weight: lighter;
}

p.no-data {
    text-align: center;
}

footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 200px;
    background-color: $theme-color;
    color: $theme-font-color;
    .bottom-section {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-positive: 1;
        flex-grow: 1;
        .about,
        .addition,
        .copyright {
            width: 33%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-positive: 1;
            flex-grow: 1;
            border: 0.5px solid white;
        }
    }
    .bottom-bar {
        display: -ms-flexbox;
        display: flex;
        background-color: #000;
        height: 20px;
        -ms-flex-pack: end;
        justify-content: flex-end;
        font-size: 0.5em;
    }
}

// medium
@media (max-width: 835px) {
    nav {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    main {
        ul.site-container {
            li.site {
                width: 33.3%;
                overflow: hidden;
            }
        }
    }
    h1.site-name {
        text-align: center;
    }
}

// small
@media (max-width: 640px) {
    nav .nav-left .title {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        // justify-content: center;
    }
    main {
        ul.site-container {
            li.site {
                width: 50%;
                height: 200px;
                overflow: hidden;
            }
        }
    }
    footer {
        .bottom-section {
            -ms-flex-direction: column;
            flex-direction: column;
            .about,
            .addition,
            .copyright {
                width: 100%;
            }
        }
    }
}

@media (max-width: 400px) {
    main {
        ul.site-container {
            li.site {
                width: 100%;
                height: 100px;
                overflow: hidden;
            }
        }
    }
}

// d3
// radar chart
.area.Total,
.Total .circle {
    fill: $theme-color;
    stroke: $theme-color;
}

.area.High,
.High .circle {
    fill: $red;
    stroke: $red;
}

.radar-chart .level {
    stroke: grey;
    stroke-width: 0.5;
}

.radar-chart .axis line {
    stroke: grey;
    stroke-width: 1;
}

.radar-chart .axis .legend {
    font-family: Roboto;
    font-size: 10px;
}

.radar-chart .axis .legend.top {
    dy: 1em;
}

.radar-chart .axis .legend.left {
    text-anchor: start;
}

.radar-chart .axis .legend.middle {
    text-anchor: middle;
}

.radar-chart .axis .legend.right {
    text-anchor: end;
}

.radar-chart .tooltip {
    font-family: Roboto;
    font-size: 13px;
    transition: opacity 200ms;
    opacity: 0;
}

.radar-chart .tooltip.visible {
    opacity: 1;
}


/* area transition when hovering */

.radar-chart .area {
    stroke-width: 2;
    fill-opacity: 0.5;
}

.radar-chart.focus .area {
    fill-opacity: 0.1;
}

.radar-chart.focus .area.focused {
    fill-opacity: 0.7;
}

.radar-chart .circle {
    fill-opacity: 0.9;
}


/* transitions */

.radar-chart .area,
.radar-chart .circle {
    transition: opacity 300ms, fill-opacity 200ms;
    opacity: 1;
}

.radar-chart .d3-enter,
.radar-chart .d3-exit {
    opacity: 0;
}
