@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
html {
  height: 100%;
  font-family: Roboto !important; }

body {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

hr {
  margin: 40px auto 20px;
  width: 95%;
  color: #eee; }

nav {
  padding: 10px 10px;
  min-width: 320px;
  display: -ms-flexbox;
  display: flex;
  background: OliveDrab;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  nav a {
    text-decoration: none; }
  nav .nav-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    nav .nav-left .title {
      margin-left: 5px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: end;
      align-items: flex-end;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      nav .nav-left .title .main-title {
        font-size: 20px;
        color: #fff; }
      nav .nav-left .title .sub-title {
        margin-left: 10px;
        font-size: 15px;
        color: #cccccc;
        text-decoration: underline;
        text-transform: capitalize; }

main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  main div.searchbox {
    width: 100%;
    text-align: center; }
    main div.searchbox input {
      font-size: 2em;
      font-family: Roboto;
      letter-spacing: 1px;
      width: 80%;
      border-style: none;
      border-bottom: 1px solid #eee;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 10px;
      margin-bottom: 10px; }
      main div.searchbox input:focus {
        border-style: none;
        border-bottom: 1px solid #eee;
        outline-style: none; }
  main ul.site-container {
    list-style-type: none;
    margin: 0 0;
    padding: 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    main ul.site-container li.site {
      width: 12.5%;
      position: relative;
      overflow: hidden;
      margin: 0 0 -4px 0; }
      main ul.site-container li.site a {
        color: white;
        display: block;
        text-decoration: none; }
        main ul.site-container li.site a:hover, main ul.site-container li.site a:active, main ul.site-container li.site a:visited {
          text-decoration: none; }
          main ul.site-container li.site a:hover h2.site-name-img, main ul.site-container li.site a:active h2.site-name-img, main ul.site-container li.site a:visited h2.site-name-img {
            text-decoration: underline;
            opacity: 0.4; }
        main ul.site-container li.site a figure {
          margin: 0 0; }
          main ul.site-container li.site a figure img {
            width: 100%;
            height: auto;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            transition: .3s ease-in-out; }
        main ul.site-container li.site a div.text-wrapper {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0; }
          main ul.site-container li.site a div.text-wrapper h2.site-name-img {
            padding: 1em;
            position: relative;
            font-size: 20px;
            margin: 0 0;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            top: 20%;
            transition: .3s ease-in-out; }
      main ul.site-container li.site:hover img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        transform: scale(1.1); }
  main .site-name {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    main .site-name .title-badge {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center; }
      main .site-name .title-badge span.vbar {
        display: inline-block;
        height: auto;
        border-left: solid #eee 1px;
        margin: 0 4px; }
      main .site-name .title-badge svg.low {
        fill: OliveDrab; }
      main .site-name .title-badge svg.high {
        fill: #B6323A; }
      main .site-name .title-badge svg.no-data {
        fill: #eee; }
  main section {
    margin-bottom: 20px; }
    main section div {
      min-width: 300px; }
  main section.main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  main section.infograph {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    main section.infograph .viz {
      min-width: 320px;
      min-height: 320px;
      padding: 5px;
      margin: 5px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center; }
  main section.detail {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    main section.detail .amp-detail,
    main section.detail .bird-detail,
    main section.detail .coral-detail {
      width: 320px; }

h1.site-name {
  font-family: Roboto Slab;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1px; }

h1.section-heading {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  margin-bottom: 32px; }

h2.taxon {
  font-family: Roboto Slab;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  letter-spacing: 1px; }

h2.bar-header {
  font-size: 12px;
  text-align: left;
  font-weight: lighter; }

p.no-data {
  text-align: center; }

footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 200px;
  background-color: OliveDrab;
  color: #fff; }
  footer .bottom-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    footer .bottom-section .about,
    footer .bottom-section .addition,
    footer .bottom-section .copyright {
      width: 33%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-positive: 1;
      flex-grow: 1;
      border: 0.5px solid white; }
  footer .bottom-bar {
    display: -ms-flexbox;
    display: flex;
    background-color: #000;
    height: 20px;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 0.5em; }

@media (max-width: 835px) {
  nav {
    -ms-flex-direction: column;
    flex-direction: column; }
    nav .auto-search-bar {
      width: 50%; }

  main ul.site-container li.site {
    width: 25%;
    overflow: hidden; }

  h1.site-name {
    text-align: center; } }
@media (max-width: 640px) {
  nav .nav-left .title {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }

  main ul.site-container li.site {
    width: 50%;
    height: 200px;
    overflow: hidden; }

  footer .bottom-section {
    -ms-flex-direction: column;
    flex-direction: column; }
    footer .bottom-section .about,
    footer .bottom-section .addition,
    footer .bottom-section .copyright {
      width: 100%; } }
@media (max-width: 400px) {
  nav .auto-search-bar {
    width: 75%; }

  main ul.site-container li.site {
    width: 100%;
    height: 100px;
    overflow: hidden; } }
.area.Total,
.Total .circle {
  fill: OliveDrab;
  stroke: OliveDrab; }

.area.High,
.High .circle {
  fill: #B6323A;
  stroke: #B6323A; }

.radar-chart .level {
  stroke: grey;
  stroke-width: 0.5; }

.radar-chart .axis line {
  stroke: grey;
  stroke-width: 1; }

.radar-chart .axis .legend {
  font-family: Roboto;
  font-size: 10px; }

.radar-chart .axis .legend.top {
  dy: 1em; }

.radar-chart .axis .legend.left {
  text-anchor: start; }

.radar-chart .axis .legend.middle {
  text-anchor: middle; }

.radar-chart .axis .legend.right {
  text-anchor: end; }

.radar-chart .tooltip {
  font-family: Roboto;
  font-size: 13px;
  transition: opacity 200ms;
  opacity: 0; }

.radar-chart .tooltip.visible {
  opacity: 1; }

/* area transition when hovering */
.radar-chart .area {
  stroke-width: 2;
  fill-opacity: 0.5; }

.radar-chart.focus .area {
  fill-opacity: 0.1; }

.radar-chart.focus .area.focused {
  fill-opacity: 0.7; }

.radar-chart .circle {
  fill-opacity: 0.9; }

/* transitions */
.radar-chart .area,
.radar-chart .circle {
  transition: opacity 300ms, fill-opacity 200ms;
  opacity: 1; }

.radar-chart .d3-enter,
.radar-chart .d3-exit {
  opacity: 0; }

/*# sourceMappingURL=site.css.map */
